[Desktop Entry]
Name=Orient
Exec=/usr/bin/orient
Icon=/usr/share/icons/Adwaita/48x48/emblems/emblem-synchronizing.png
Type=Application
Categories=Utility;
